
#container_commands:
#    100_setup_Environment:
#        command: "source .ebextensions/bin/install.sh"

commands:
    create_post_dir:
        command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
        ignoreErrors: true

files:
    /etc/nginx/conf.d/proxy.conf:
        mode: "000644"
        owner: root
        group: root
        content: |
            upstream xrphost {
                server localhost:5005;
            }

            upstream cms {
                server localhost:8081;
            }

            server {

                listen 8080;

                server_name localhost;

                location / {
                    proxy_pass http://cms/;
                }

            }

    /opt/elasticbeanstalk/hooks/configdeploy/post/99_kill_default_nginx.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash -xe
            rm -f /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
            service nginx stop 
            service nginx start
    
    /etc/yum.repos.d/ripple.repo:
        mode: "000755"
        owner: root
        group: root
        content: |
            [ripple-stable]
            name=Ripple for $releasever - $basearch - Stable
            baseurl=https://mirrors.ripple.com/rpm/el7/stable/x86_64/
            gpgkey=https://mirrors.ripple.com/rpm/RPM-GPG-KEY-ripple-release
            enabled=0


    /opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_httpd:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            # Packages
            curl -sL https://rpm.nodesource.com/setup_7.x | sudo -E bash -
            yum -y install nodejs --enablerepo=nodesource
            
            yum-config-manager --enable epel
            yum -y update
            yum -y install figlet htop nc nmap git
            npm install -g bower n
            n latest
            
            # sudo yum -y install --enablerepo=ripple-stable rippled
            # sudo /opt/ripple/bin/rippled --rpc &

            # motd
            figlet "ProxiPay" > /etc/motd
            figlet -f digital "ProxiPay Server Proof Of Concept" >> /etc/motd
            echo -e "\n\tSERVER HOME: /var/app/current" >> /etc/motd
            
            # Frontend Dependencies
            cd /var/app/current
            sudo bower install --allow-root
            
            chmod +777 /tmp -R

            # Logging
            mkdir -p /home/ec2-user/logs
            pwd >> /home/ec2-user/logs/install.log
            ls >> /home/ec2-user/logs/install.log
            date >> /home/ec2-user/logs/install.log

container_commands:
    removeconfig:
        command: "rm -f /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf"